/venv
/venv2
/__pycache__
/.idea
/FunPayAPI/__pycache__
/logs
/storage
/configs
/build
/dist
test.py
*.zip
plugins/stars_config.json
plugins/stars_stats.json
plugins/autorobux_config.json
plugins/autorobux.log
data/config.json
data/lot_bindings.json
data/message_templates.json
storage/autopoints
starsgifter_session.session
starsgifter_session.session-journal
plugins/starsgifter_config.json
auto.log
data/steam_rental
plugins/AutoRentVipRoblox.db
plugins/AutoRentVipRoblox.log